#filtre {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .fa-money-bill-wave {
    color: #0065FC;
  }
  
  .fa-child-reaching {
    color: #0065FC;
  }
  
  .fa-heart {
    color: #0065FC;
  }
  
  .fa-dog {
    color: #0065FC;
  }
  
  .fa-info {
    color: #0065FC;
    margin-left: 15px;
    border-radius: 45px;
    border: 1px solid;
    padding: 10px;
    border-color: #F2F2F2;
  }
  
  #filtre i {
    margin-left: 15px;
    border-radius: 45px;
    border: 1px solid;
    padding: 5px;
    background-color: #DEEBFF;
    border-color: #F2F2F2;
  }
  .span{
    font-size: 0.9em;
  margin-top: 0px;
  margin: 7px 10px 25px 2px;
  font-style: normal;
  font-weight: bold;
  }