#logo img
{
width: 100px;
height: 50px;
}
nav
{
    display: flex;
    flex-direction: row;
}
nav ul
{
    list-style-type: none;
    display: flex;
}
nav li
{
    font-size: 1em;
    width: 100%;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
nav li a{
    text-decoration: none;
    color: #0065FC;
}
.link-nav a{
    color:black;
    display: block;
    width: 100%;
    padding: 20px;
    border-top: 3px transparent solid;
}
.link-nav a:hover{
    border-top: 3px #0065FC solid;
    color: #0065FC;
}
